<% if users.exists? %>
  <h1>Following</h1>
<% else %>
  <h1>Followers</h1>
<% end %>
<% if users.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">image</td>
        <th scope="col">name</td>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(80,80) %></td>
        <td><%= user.name %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
        <td><%= link_to user_path(user) do %>Show<% end %></td>
        <th colspan="5"></th>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
