<div class="container pt-4">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/profile', user: current_user %>
      <%= render 'layouts/booknew', book: @booknew %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inverse m-0'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th></th>
            <th></th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% if @group.group_image.attached? %>
                <%= image_tag @group.group_image,size:"50x50" %>
              <% else %>
                <%= image_tag 'no_image', size: "50x50" %>
              <% end %>
            </td>
            </td>
            <td class="align-middle"><%= @group.name %></td>
            <td class="align-middle"><%= @group.introduction %></td>
            <td class="align-middle">
              <% if @group.is_owned_by?(current_user) %>
                <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
              <% elsif @group.includesUser?(current_user)%>
                <%= link_to 'Leave this group', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
              <% else %>
                <%= link_to 'Join this group', group_group_users_path(@group), method: :post, class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= link_to 'Notice an Event',group_new_mail_path(@group), class: "btn btn-sm btn-info" %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th scope="col">メンバー一覧</th>
            <th scope="col"></th>
            <th scope="col">Groupオーナー／<%=link_to user_path(@group.owner) do %><% @group.owner.name %><% end %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% @group.users.each do |user| %>
                <li style="list-style: none;">
                  <%= link_to user_path(user), class:"mb-2 text-decoration-none" do %>
                    <%= user.name %>
                  <% end %>
                </li>
              <% end %>
            </td>
            <td>
              <% @group.users.each do |user| %>
                <% if user_signed_in? && current_user != user %>
                  <% if current_user.following?(user) %>
                    <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete %>
                  <% else %>
                    <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>