<%= render 'layouts/error', message: @user %>
<div class="container m-4">
  <div class="row-cols-1">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5">
      <h2 class="col form-group p-0">User info</h2>
      <%= form_with model: @user do |f| %>
        <p class="col p-0"><label for="inputName">Name</label></p>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class:"col form-control form-control-sm"%>
        <p class="col p-0 mt-3"><label for="inputImage">Image</label></p>
        <p class="col p-0"><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
        <p class="col p-0"><label for="inputImage">Introduction</label></p>
        <%= f.text_area :introduction, class:"form-control form-control-lg" %>
        <p class="col p-0 mt-3"><%= f.submit " Update User ", class:"btn btn-secondary" %></p>
      <% end %>
    </div>
  </div>
</div>