<%= render 'layouts/error', message: @booknew %>
<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-3 offset-9"><%= render 'layouts/search' %></div>
    <div class="col-md-3">
        <div id="profile_current">
          <%= render 'layouts/profile', user: current_user %>
        </div>
      <div id="newbook-template">
        <%= render 'layouts/booknew', book: @booknew %>
      </div>
      <h2 id="open-newbook-template"><i class="fa-solid fa-circle-right"></i></h2>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <div><%=link_to "グループを作成する", new_group_path %> | <%=link_to "グループ一覧",groups_path %></div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">image</td>
            <th scope="col">name</td>
            <th scope="col"></th>
            <th></th>
            <th></th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(80,80) %></td>
            <td><%= user.name %></td>
            <td>
              <ul style="list-style: none;">
                <li id="follow-count">フォロー数：<%= render "layouts/followings_count", user: user %></li>
                <li id="followers-count">フォロワー数： <%= render "layouts/followers_count", user: user %></li>
              </ul>
            </td>
            <td id="ff_<%= user.id %>">
              <%= render 'relationships/ff', user: user %>
            </td>
            <td><%= link_to user_path(user) do %>Show<% end %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>