
<div class="container pt-4">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/profile', user: @user %>
      <%= render 'layouts/booknew', book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</td>
            <th scope="col">Opinion</td>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= link_to user_path(book.user) do %><div><%= image_tag book.user.get_profile_image(80,80) %></div><% end %></td>
            <td><%= link_to book_path(book) do %><%= book.title %><% end %></td>
            <td><%= book.body %></td>
            <th>コメント件数：<%= book.book_comments.count %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

