<table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Tag</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td style="width: 80px;"><%= link_to user_path(book.user) do %><%= image_tag book.user.get_profile_image(80,80) %><% end %></td>
        <td><%= link_to book_path(book) do %><%= book.title %><% end %></td>
        <td><%= book.body %></td>
        <td><%= link_to tags_search_path(content: book.tag) do %><%= book.tag %><% end %></td>
        <td>
          <%= link_to book_video_path(book) do %>
            <% if book.video.attached? %>
              <%= video_tag url_for(book.video), size: "100x100" %>
            <% else %>
              <span>No video available</span>
            <% end %>
          <% end %>
        </td>
        <td>
          <ul class="p-0"style="list-style: none;">
            <li><%= render "books/static.rate", book: book %></li>
            <li id="favorite_buttons_<%= book.id %>"><%= render "books/favorites", book: book %></li>
            <li>コメント <%= book.book_comments.count %></li>
            <li>閲覧数：<%= book.read_counts.count %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>