<h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th class="td-title">Title</th>
        <th class="td-title">Body</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td><%= link_to "Show", book_path(book.id), class: "link-color" %></td>
          <td><%= link_to "Edit", edit_book_path(book.id), class: "link-color" %></td>
          <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?", class: "link-color" %></td>
          <th colspan="5"></th>
        </tr>
      <% end %>
    </tbody>
  </table>