<%= render 'layouts/error', message: @booknew %>
<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-3 offset-9"><%= render 'layouts/search' %></div>
    <div class="col-md-3">
      <%= render 'layouts/profile', user: current_user %>
      <%= render 'layouts/booknew', book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%= link_to '新しい順', books_path(latest: "true") %> |
      <%= link_to '古い順', books_path(old: "true") %> |
      <%= link_to '評価の高い順', books_path(stars: "true") %> |
      <%= link_to 'いいねが多い順', books_path(favorites: "true") %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="6"></th>
          </tr>
        </thead>
        <tbody>
          <%= render "books/index", books: @books %>
        </tbody>
      </table>
    </div>
  </div>
</div>