<%= render 'layouts/error', message: @booknew %>
<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-3 offset-9"><%= render 'layouts/search' %></div>
    <div class="col-md-3">
      <%= render 'layouts/profile', user: current_user %>
      <%= render 'layouts/booknew', book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%= link_to '新しい順', books_path(latest: "true") %> |
      <%= link_to '古い順', books_path(old: "true") %> |
      <%= link_to '評価の高い順', books_path(stars: "true") %> |
      <%= link_to 'いいねが多い順', books_path(favorites: "true") %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="6"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to user_path(book.user) do %><%= image_tag book.user.get_profile_image(80,80) %><% end %></td>
              <td><%= link_to book_path(book) do %><%= book.title %><% end %></td>
              <td><%= book.body %></td>
              <td id="favorite_buttons_<%= book.id %>">
                <%= render "books/favorites", book: book %>
              </td>
              <td>コメント <%= book.book_comments.count %></td>
              <td>閲覧数：<%= book.read_counts.count %></td>
              <td><%= render "books/static.rate", book: book %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>