<%= render 'layouts/profile', user: @user %>
<%= render 'layouts/booknew', book: @booknew %>
<div class="flash">
  <%= flash[:notice] %>
</div>

<h2><strong>Book detail</strong></h2>
<tabld>
  <tr>
    <td><strong>Title</strong></td>
    <td><strong>Opinion</strong></td>
  </tr>
</tabld>

<div>
  <%= link_to user_path(@book.user.id) do %>
    <%= image_tag @book.user.get_profile_image %>
    <%= @book.user.name %>
  <% end %>
</div>

<tabld>
  <tr>
    <td><%= link_to book_path(@book.id) do %><%= @book.title %><% end %></td>
    <td><%= @book.body %></td>
  </tr>
</tabld>
<div>
  <% if user_signed_in? && current_user.id == @book.user_id %>
    <%= link_to edit_book_path(@book.id), class: "" do %>edit<% end %>
    <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "" do %>destroy<% end %>
  <% end %>
</div>