
<div class="container pt-4">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/profile', user: @user %>
      <%= render 'layouts/booknew', book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <th>
            <%= link_to user_path(@book.user.id) do %><%= image_tag @book.user.get_profile_image(100,100) %><br/><%= @book.user.name %><% end %>
        </th>
        <th>
          <%= link_to book_path(@book.id) do %><%= @book.title %><% end %>
        </th>
        <th>
          <%= @book.body %>
        </th>
        <td><%= render 'books/favorites', book: @book %></td>
        <th>
          <div>
            <% if user_signed_in? && current_user.id == @book.user_id %>
              <%= link_to edit_book_path(@book.id), class: "btn btn-success mr-5" do %>Edit<% end %>
              <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger ml-5" do %>Destroy<% end %>
            <% end %>
          </div>
        </th>
      </table>
    </div>
  </div>
</div>


