<%= render 'layouts/error', message: @book_comment %>
<div class="container pt-4">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/profile', user: @user %>
      <%= render 'layouts/booknew', book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <th>
            <%= link_to user_path(@book.user.id), class:"text-decoration-none" do %><%= image_tag @book.user.get_profile_image(100,100) %><br/><%= @book.user.name %><% end %>
        </th>
        <th>
          <%= link_to book_path(@book.id), class:"text-decoration-none" do %><%= @book.title %><% end %>
        </th>
        <th>
          <%= @book.body %>
        </th>
        <th><%= render "books/static.rate", book: @book %></th>
        <th id="favorite_buttons_<%= @book.id %>">
          <%= render "books/favorites", book: @book %>
        </th>
        <th>コメント <%= @book.book_comments.count %></th>
        <th>
          <div>
            <% if user_signed_in? && current_user.id == @book.user_id %>
              <%= link_to edit_book_path(@book.id), class: "btn btn-success m-2" do %>Edit<% end %>
              <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" do %>Destroy<% end %>
            <% end %>
          </div>
        </th>
        <th>閲覧数: <%= @book.read_counts.count %></th>
      </table>
      <div class="mt-3", id="bookcomment_buttons_<%= @book.id %>">
        <%= render 'books/bookcomment', book: @book, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>


