<% if @range == "User" %>
  <h3>【User検索結果】検索ワード：<%= @word %></h3>
  <p><%= render 'layouts/search' %></p>
<% else %>
  <h3>【Book検索結果】検索ワード：<%= @word %></h3>
  <p><%= render 'layouts/search' %></p>
<% end %>
<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <thead>
      <tr>
        <th scope="col">image</td>
        <th scope="col">name</td>
        <th scope="col"></th>
        <th></th>
        <th></th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(80,80) %></td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td><%= link_to user_path(user) do %>Show<% end %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <%= render "books/index", books: @books %>
  <% end %>
</table>