<h2>New book <i id="close-newbook-template" class="fa-solid fa-circle-left"></i></h2>

<%= form_with model:book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %><br/>

  <p>Tag</p>
  <%= f.text_field :tag %>

  <p>Video</p>
  <%= f.file_field :video %>

  <% if book.id.nil? %>
    <div class="form-group" id="star">
      <%= f.label :star %>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'book[star]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group">
      <%= render "books/static.rate", book: book %>
    </div>
  <% end %>
  <%= f.submit 'Create Book', class:"btn btn-success" %>

<% end %>