
<div>
  <h2 class="mb-2">User info</h2>
  <%= image_tag user.get_profile_image(100,100) %><br/>
  <table>
    <table class="table">
      <tr>
        <th scope="row">name</th>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th scope="row">introduction</th>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <th scope="row">follows</th>
        <td id="follow-count"><%= render "layouts/followings_count", user: user %></td>
      </tr>
      <tr>
        <th scope="row">followers</th>
        <td id="followers-count"><%= render "layouts/followers_count", user: user %></td>
      </tr>
      <tr>
        <th scope="row">いいね</th>
        <td id="favorite_buttons_<%= user.id %>"><%= render "layouts/favoritescount", user: user %></td>
      </tr>
    </thead>
  </table>
  <div class="mb-4">
    <% if user_signed_in? && current_user == user %>
      <%= link_to edit_user_path(user) do %>
        <button type="button" class="btn btn-outline-secondary btn-block">
          <i class="fa-solid fa-user-cog"></i>
        </button>
      <% end %>
    <% else %>
      <div id="ff_<%= user.id %>">
        <%= render 'relationships/ff', user: user %>
      </div>
    <% end %>
    <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
      <%= link_to 'chatを始める', chat_path(user.id), class: "ml-3" %>
    <% end %>
  </div>
</div>