
<div>
  <h2 class="mb-2">User info</h2>
  <%= image_tag user.get_profile_image(100,100) %><br/>
  <table>
    <table class="table">
      <tr>
        <th scope="row">name</th>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th scope="row">introduction</th>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <th scope="row">follows</th>
        <td><%= link_to user_followings_path(user.id), class:"text-decoration-none" do %><%= user.followings.count %><% end %></td>
      </tr>
      <tr>
        <th scope="row">followers</th>
        <td><%= link_to user_followers_path(user.id), class:"text-decoration-none" do %><%= user.followers.count %><% end %></td>
      </tr>
      <tr>
        <th><%= link_to 'いいね', favorites_user_path(user), class:"text-decoration-none" %></th>
        <td></td>
      </tr>
    </thead>
  </table>
  <div class="mb-4">
    <% if user_signed_in? && current_user == user %>
      <%= link_to edit_user_path(user) do %>
        <button type="button" class="btn btn-outline-secondary btn-block">
          <i class="fa-solid fa-user-cog"></i>
        </button>
      <% end %>
    <% else %>
      <% if user_signed_in? && current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to user_relationships_path(user.id), method: :delete, class:"text-decoration-none" do %><button type="button" class="btn mb-3 btn-info btn-sm btn-block text-white">フォローを外す</button><% end %>
        <% else %>
          <%= link_to user_relationships_path(user.id), method: :post, class:"text-decoration-none" do %><button type="button" class="btn mb-3 btn-success btn-sm btn-block text-white">フォローする</button><% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
      <%= link_to 'chatを始める', chat_path(user.id), class: "ml-3" %>
    <% end %>
  </div>
</div>