<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2e46275e9d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="loading">
      <span>L</span>
      <span class="animate">O</span>
      <span class="animate">A</span>
      <span class="animate">D</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
    </div>
    <main class="main">
      <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
      <div class="container">
        <div class="row">
          <div class="col">
            <span id="back" class="fixed-bottom" style="position: fixed; left: 10px; bottom: 10px;">
              <a href="#">
                <%= image_tag 'arrow.png', size: '30x30' %>
              </a>
            </span>
          </div>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
